<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="RoutineManagement">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Routine Checksheet Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Schedule", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Builder", "Builder", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="spinner-wrap">
            <div class="cube">
                <i class="front"></i>
                <i class="back"></i>
                <i class="left"></i>
                <i class="right"></i>
            </div>
            <span class="text">Loading</span>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - Scott Larkin - Final Year Project</p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Checksheet.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Script.js"></script>


</body>
</html>
